{% extends "/home/index.html.twig" %}

{% block body %}

<div class="navbar-header">
    {% block header %}
        {{ parent() }}
    {% endblock %}
</div>
<div class="vertical-menu">
    {% block sidebar %}
        {{ parent() }}
    {% endblock %}
</div>
    <div class="main-content">
    <h1>Event Liste</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateEvent</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>NbrPlace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.lieu }}</td>
                <td>{{ event.nbrPlace }}</td>
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
                </div>
            </div>
    </div>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
