{% extends "/home/index.html.twig" %}

{% block body %}


    <div class="navbar-header">
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="vertical-menu">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
    </div>
<div class="main-content">
    <h1>Reservation Liste</h1>

<div class="card-body">
    <div class="table-responsive">
        <table class="table mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateReservation</th>
                <th>NbrTickets</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.nbrTickets }}</td>
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
