{% extends "/home/index.html.twig" %}

{% block body %}


    <div class="navbar-header">
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="vertical-menu">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
    </div>
<div class="main-content">
    <h1>Ticket Liste</h1>

<div class="card-body">
    <div class="table-responsive">
        <table class="table mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateExpiration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.dateExpiration ? ticket.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>

    <a href="{{ path('app_ticket_new') }}">Create new</a>

{% endblock %}
