{% extends "/home/index.html.twig" %}

{% block body %}


    <div class="navbar-header">
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="vertical-menu">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
    </div>
<div class="main-content">
    <h1>Client Liste</h1>

<div class="card-body">
    <div class="table-responsive">
        <table class="table mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>DateDeNaissance</th>
                <th>Pwd</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.dateDeNaissance ? client.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ client.pwd }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <a class="btn btn-primary"  role="button" href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    </div>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
